/__pycache__/

*report*
*Report*

!/assignment2/
/assignment2/*
!/assignment2/assignment_2_v2.pdf
!/assignment2/data/
!/assignment2/2300012297_刘星云/

!/assignment3/
/assignment3/*
!/assignment3/data/
!/assignment3/fnlp25_hw3
!/assignment3/2300012297_刘星云/

!/assignment4/
/assignment4/*
!/assignment4/FNLP_lab_4_general_instruction.pdf
!/assignment4/FNLP_lab_4_project_1.pdf
!/assignment4/FNLP_lab_4_project_2.pdf
!/assignment4/README.md
!/assignment4/2300012297_刘星云/

*16575*


*.zip
*.7z
*.rar

.env
.env.local
.flaskenv

.vscode/
.idea/
.DS_Store
Thumbs.db