/__pycache__/

/assignment2/*

!/assignment2/assignment_2_v2.pdf
!/assignment2/data/

*assignment3*
*assignment4*
*v2*


*.zip
*.7z
*.rar

.env
.env.local
.flaskenv

.vscode/
.idea/
.DS_Store
Thumbs.db